<form method="post" action="/plushies/<%=@plushie.id%>">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%= @plushie.name %>"/>
  <br/>
  <br/>
  <label for="brand-select">Brand:</label>
  <select id="brand-select" name="brand_id">
  <% @brands.each do |brand| %>
    <option value="<%= brand.id %>" <%="selected" if @plushie.brand_id.to_i == brand.id %>> <%= brand.brand_name %> </option>
  <% end %>
  </select>
  <br/>
  <br/>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value="<%= @plushie.quantity %>"/>
  <br/>
  <br/>
  <input type="submit" value="Update Order"/>
</form>