<div class="form-style">
<form method="post" action="/plushies/<%=@plushie.id%>">
<fieldset>
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%= @plushie.name %>"/>
  <br/>
  <br/>
  <label for="brand-select">Brand:</label>
  <select id="brand-select" name="brand_id">
  <% @brands.each do |brand| %>
    <option value="<%= brand.id %>" <%="selected" if @plushie.brand_id.to_i == brand.id %>> <%= brand.brand_name %> </option>
  <% end %>
  </select>
  <br/>
  <br/>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value="<%= @plushie.quantity %>"/>
  <br/>
  <br/>
  <label for="buy_price">Buy Price:</label>
  <input id="buy_price" type="number" name="buy_price" min='0.01' step='0.01' value="<%= @plushie.buy_price %>"/>
  <br/>
  <br/>
  <label for="picture">Picture:</label>
  <input id="picture" type="text" name="picture" value="<%= @plushie.picture %>"/>
  <br/>
  <br/>
  <label for="rating">Cuteness Rating:</label>
  <input id="rating" type="number" name="rating" value="<%= @plushie.rating %>"/>
  <br/>
  <br/>
  </fieldset>
  <input type="submit" value="Update Plushie"/>
</form>
</div>