<table class="plushie_table">
  <thead class ="plushie_table_head">
    <th>Name</th>
    <th>Brand</th>
    <th>Quantity</th>
    <th>Stock Level</th>
    <th>Buy Price</th>
    <th>All Stock - BP</th>
    <th>Sell Price</th>
    <th>All Stock - SP</th>
    <th>Profit</th>
    <th>All Stock - P</th>
    <th><a href="/plushies/rating">Popularity</a></th>
    <th>Picture</th>
    <th></th>
  </thead>
  <tbody>
    <% @plushies.each do |plushie| %>
    <tr>
      <td><%= plushie.name %></td>
      <td><%= plushie.brand %></td>
      <td><%= plushie.quantity %></td>
      <td class="<%= plushie.show_stock_level%>"><%= plushie.show_stock_level %></td>
      <td>£<%= "%.2f" % plushie.buy_price %></td>
      <td>£<%= "%.2f" % plushie.buy_price_all %></td>
      <td>£<%= "%.2f" % plushie.sell_price %></td>
      <td>£<%= "%.2f" % plushie.sell_price_all %></td>
      <td>£<%= "%.2f" % plushie.profit %></td>
      <td>£<%= "%.2f" % plushie.profit_all %></td>
      <td><%= plushie.rating %></td>
      <td> <img class="plushie-image" src=<%= plushie.picture %>></td>
      <td><a href="/plushies/<%= plushie.id %>">Info</a></td>
    </tr>
    <% end %>
    <tr class="totals">
      <td><b>Totals:</b></td>
      <td></td>
      <td><%= Plushie.quantity_sum %></td>
      <td></td>
      <td></td>
      <td>£<%= "%.2f" % Plushie.buy_price_total %></td>
      <td></td>
      <td>£<%= "%.2f" % Plushie.sell_price_total %></td>
      <td></td>
      <td>£<%= "%.2f" % Plushie.profit_total %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>