<table>
  <thead>
    <th>Name</th>
    <th>Brand</th>
    <th>Quantity</th>
    <th>Stock Level</th>
    <th></th>
  </thead>
  <tbody>
    <% @plushies.each do |plushie| %>
    <tr>
      <td><%= plushie.name %></td>
      <td><%= plushie.brand %></td>
      <td><%= plushie.quantity %></td>
      <td><%= plushie.show_stock_level %></td>
      <td><a href="/plushies/<%= plushie.id %>">Show Plushie</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
