<table>
  <thead>
    <th>Name</th>
    <th>Brand</th>
    <th>Quantity</th>
    <th>Stock Level</th>
    <th>Buy Price</th>
    <th>Buy Price of all Stock</th>
    <th>Sell Price</th>
    <th>Sell Price of all Stock</th>
    <th>Profit</th>
    <th>Profit of all Stock</th>
    <th></th>
  </thead>
  <tbody>
    <% @plushies.each do |plushie| %>
    <tr>
      <td><%= plushie.name %></td>
      <td><%= plushie.brand %></td>
      <td><%= plushie.quantity %></td>
      <td><%= plushie.show_stock_level %></td>
      <td><%= "%.2f" % plushie.buy_price %></td>
      <td><%= "%.2f" % plushie.buy_price_all %></td>
      <td><%= plushie.sell_price %></td>
      <td><%= "%.2f" % plushie.sell_price_all %></td>
      <td><%= "%.2f" % plushie.profit %></td>
      <td><%= "%.2f" % plushie.profit_all %></td>
      <td><a href="/plushies/<%= plushie.id %>">Show Plushie</a></td>
    </tr>
    <% end %>
  </tbody>
</table>