<p>Name: <%= @plushie.name %></p>
<p>Brand: <%= @plushie.brand.brand_name %></p>
<p>Quantity: <%= @plushie.quantity %></p>
<br/>
<form method="get" action="/plushies/<%=@plushie.id%>/edit"> 
  <input type="submit" value="Edit Plushie"/>
</form>
<br/>
<form method="post" action="/plushies/<%= @plushie.id %>/delete">
  <input type="submit" value="Delete Plushie">
</form>